.idea/
db.sqlite3
geekshop/__pycache__/
products/__pycache__/
products/migrations/__pycache__/
products/management/commands/__pycache__/
authapp/__pycache__/
authapp/migrations/__pycache__/
media/users_avatars/
baskets/__pycache__/
baskets/migrations/__pycache__/
admins/__pycache__/
admins/migrations/__pycache__/
media/products_images/
.env
authapp/templatetags/__pycache__/
ordersapp/__pycache__/
ordersapp/migrations/__pycache__/
admins/views/__pycache__/
products/templatetags/__pycache__/
