django-debug-toolbar==3.4.0
django-debug-toolbar-template-profiler==2.0.2
django-extensions==3.2.3
Django==3.2.6
Pillow==10.1.0
python-dotenv==1.0.0
Requests==2.31.0
social-auth-core==4.2.0
social-auth-app-django==5.0.0
