<a class="navbar-brand" href="{% url 'main' %}">GeekShop</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link{% if nav_active == 'catalog' %} active{% endif %}"
               href="{% url 'products:index' %}">Каталог <i class="fas fa-shopping-bag"></i>
            </a>
        </li>
        {% if request.user.is_authenticated or user_is_authenticated %}
        {% with authenticated=True %}
        {{ authenticated|json_script:"user-authenticated" }}
        {% endwith %}
        <li class="nav-item dropdown">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle{% if nav_active == 'user' %} active{% endif %}"
                   id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false" role="button" href=""
                   data-toggle="dropdown">
                    {{ user.username|default:'Пользователь' }}
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">
                        <a class="nav-link text-dark" href="{% url 'authapp:profile' %}">
                            Профиль
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link text-dark" href="{% url 'orders:list' %}">
                            Заказы
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'auth:logout' %}">Выйти
                <i class="fas fa-sign-out-alt"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if nav_active == 'basket' %} active{% endif %}" href="{% url 'baskets:main' %}">
                Корзина <i class="fas fa-shopping-cart"></i>
                <span class="badge badge-secondary badge-pill
                        total-quantity-navigation">{{ baskets.0.total_quantity }}</span>
            </a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="" data-bs-target="#login-modal" type="button" data-bs-toggle="modal">
                Войти/Зарегистрироваться
                <i class="fas fa-sign-in-alt"></i></a>
        </li>
        {% endif %}
        {% if user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admins:index' %}">
                <i class="fas fa-users-cog"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</div>