{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<!-- Page Content -->
<div class="container flex-grow-1 profile">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-4">Профиль</h1>
            <h4 class="mt-2">Изменение данных пользователя</h4>
            {% for message in messages %}
            <div class="alert {% if message.level != DEFAULT_MESSAGE_LEVELS.ERROR %}alert-success
                            {% else %}alert-warning{% endif %} alert-dismissible fade show"
                 role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <form action="{% url 'authapp:profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column">
                        <div> Аватар</div>
                        <div class="flex-grow-1 align-items-center">
                            <img class="avatar"
                                 src="{% if user.image %} {{ user.image.url }} {% else %}
                                        {% static 'vendor/img/users/default_avatar.jpg' %}{% endif %}">
                        </div>
                        <div>
                            <label class="custom-file-label"
                                   for="{{ form.image.id_for_label }}">Выберите
                                изображение для нового аватара</label>
                            {{ form.image }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="mb-1" for="{{ form.first_name.id_for_label }}">Имя</label>
                                {{ form.first_name }}
                            </div>
                            <div class="col-lg-6">
                                <label class="mb-1" for="{{ form.last_name.id_for_label }}">Фамилия</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="mb-1" for="{{ form.username.id_for_label }}">Имя
                                    пользователя</label>
                                {{ form.username }}
                            </div>
                            <div class="col-lg-6">
                                <label class="mb-1" for="{{ form.email.id_for_label }}">Адрес электронной
                                    почты</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="mb-1" for="{{ form.age.id_for_label }}">Возраст
                                </label>
                                {{ form.age }}
                            </div>
                            <div class="col-lg-6">
                                <label class="mb-1" for="{{ profile.gender.id_for_label }}">Пол</label>
                                {{ profile.gender }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label class="mb-1" for="{{ profile.about.id_for_label }}">О себе</label>
                        {{ profile.about}}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-12">
                        <input class="btn btn-primary btn-block" type="submit" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <form action="{% url 'authapp:change-password' %}" method="post">
        <div class="row">
            <h4 class="mt-2">Изменение пароля пользователя</h4>
            {% csrf_token %}
            <div class="col-lg-6">
                <label class="mb-1" for="id_new_password1">Новый пароль</label>
                <input type="password" name="new_password1"
                       class="form-control" required id="id_new_password1" autocomplete="new-password">
            </div>
            <div class="col-lg-6">
                <label class="mb-1" for="id_new_password2">Повторите новый пароль</label>
                <input type="password" name="new_password2"
                       class="form-control" required id="id_new_password2" autocomplete="new-password">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary">Изменить пароль</button>
            </div>
        </div>
    </form>
</div>
<!-- /.container -->
{% endblock %}
