{% if object.status == 'FM' %}
<div class="container">
    <div class="d-flex justify-content-around">
        <a href="{% url 'orders:forming_complete' object.pk %}"
           class="btn btn-success btn-round form-control w-25 my-2 last">
            оформить заказ
        </a>
        <a href="{% url 'orders:delete' object.pk %}"
           class="btn btn-warning btn-round form-control w-25 my-2 last">
            удалить
        </a>
    </div>
</div>
{% endif %}
<div class="container">
    <a href="{% url 'orders:list' %}" class="btn btn-info btn-round form-control my-2 last">
        к списку заказов
    </a>
    <a href="{% url 'products:index' %}" class="btn btn-info btn-round form-control  my-2 last">
        продолжить покупки
    </a>
</div>