{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container flex-grow-1">
    <div>
        <h1 class="my-4">Страница не найдена</h1>
    </div>
</div>
{% endblock %}
