body {
    background: url("../vendor/img/wallpaper.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 56px;
    width: 100vw;
    overflow-x: hidden;
}

a {
    color: #88b9b2;
}

a:hover {
    color: #6da59d;
}

.btn-a {
    background-color: #88b9b2;
}

.btn-a:hover {
    background-color: #6da59d;
}

.navbar {
    width: 100vw;
}

#start-purchase-btn {
    background-color: #23364e;
    border-color: #23364e;
    color: white;
}

#start-purchase-link {
    text-decoration: none;
    color: white;
}
