body {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    width: 100vw;
    background-color: #DEE3DF;
    overflow-x: hidden;
}

.navbar {
    width: 100vw;
}

.list-group a {
    background-color: #F7F7F7;
}

.list-group .active-category {
    background-color: #E9E9E9;
}
