{% extends 'admins/base.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Редактирование заказа | {{ order.id }}</h1>
            <div class="card-body order_form">
                <form action="{% url 'admins:admin_orders_update' order.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-lg-6">
                            Номер заказа: {{ order.id }}
                        </div>
                        <div class="col-lg-6">
                            Пользователь: <a href="{% url 'admins:admin_users_update' order.user.id %}"
                                             style="color: dodgerblue">{{ order.user }}</a>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            Создан: {{ order.created }}
                        </div>
                        <div class="col-lg-6">
                            Изменен: {{ order.updated }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            Заказ оплачен:
                            {% if order.paid %}
                            {{ order.paid }}
                            {% else %}
                            нет
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="id_status">Статус</label>
                                <select name="status" class="form-control" required id="id_status">
                                    {% for status in order.ORDER_STATUS_CHOICES %}
                                    {% if order.status == status.0 %}
                                    <option value="{{ status.0 }}" selected>{{ status.1 }}</option>
                                    {% else %}
                                    <option value="{{ status.0 }}">{{ status.1 }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ form.is_active.id_for_label }}">Заказ
                                активен:</label>
                            {{ form.is_active }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            общее количество товаров: <span class="order_total_quantity">
                                {{ object.get_total_quantity }}</span>
                        </div>
                        <div class="col-lg-6">
                            общая стоимость: <span class="order_total_cost">
                                {{ object.get_total_cost }}</span> руб
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                {{ orderitems.management_form }}
                                {% for form in orderitems.forms %}
                                {% if forloop.first %}
                                <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                    <th>
                                        {{ field.label|capfirst }}
                                    </th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% endif %}

                                <tr class="formset_row">
                                    {% for field in form.visible_fields %}
                                    <td class="formset_td">
                                        {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                        {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}

                                        {% if field.name == 'image' %}
                                        {% if field.value and field.value != 'None' %}
                                        <img width="100" height="100"
                                             src="{{ field.value.url }}"
                                             class="img-thumbnail">
                                        {% endif %}
                                        {% elif field.name == 'price' %}
                                        {% if field.value %}
                                        <span class="orderitems-{{ forloop.parentloop.counter0 }}-price">
                                            {{ field.value}} руб </span>
                                        {% endif %}
                                        {% else %}
                                        {{ field }}
                                        {% endif %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12" style="margin-top: 33px;">
                            <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                        </div>
                    </div>
                </form>
                <form action="{% url 'admins:admin_orders_delete' order.id %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12" style="margin-top: 33px;">
                            <input class="btn btn-danger btn-block" type="submit" value="Удалить">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    {% include 'admins/includes/footer.html' %}
</div>
{% endblock %}
