{% extends 'admins/base.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Редактирование статуса заказа | {{ order.id }}</h1>
            <div class="card-body">
                <form action="{% url 'admins:admin_orders_update' order.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="id_status">Статус</label>
                                <select name="status" class="form-control" required id="id_status">
                                    {% for status in order.ORDER_STATUS_CHOICES %}
                                        {% if order.status == status.0 %}
                                        <option value="{{ status.0 }}" selected>{{ status.1 }}</option>
                                        {% else %}
                                        <option value="{{ status.0 }}">{{ status.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12" style="margin-top: 33px;">
                            <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; GeekShop 2021</div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
