<!DOCTYPE html>
{% load static %}
{% load startswith %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <title>{{ title|title }}</title>

    {% block css %}
    {% endblock %}
</head>

<body>
{% csrf_token %}

{% block navigation %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container" id="navbar">
        {% include 'products/includes/navbar.html' %}
    </div>
</nav>

<div class="modal fade" id="login-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="card rounded-lg">
                <div class="card-header modal-header">
                    <h3> Вход </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="card-body">
                    <div class="text-danger small error-div"></div>
                    <div class="form-group">
                        <label for="username">Логин</label>
                        <input type="text" maxlength="150" class="form-control " id="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" maxlength="150" class="form-control " id="password">
                    </div>
                    <div class="form-group mt-2">
                        <input id="login" class="btn btn-a btn-block"
                               type="submit" value="Войти">
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a type="button" class="text-decoration-underline"
                       data-bs-target="#registration-modal" data-bs-toggle="modal">
                        Нужен аккаунт? Зарегистрируйся!
                    </a>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
                        Войти через <i class="fab fa-vk"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="registration-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="card rounded-lg">
                <div class="card-header modal-header">
                    <h3> Создать аккаунт </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="card-body">
                    <div class="text-danger small error-div"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="first_name">Имя</label>
                                <input type="text" maxlength="150" class="form-control " id="first_name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="last_name">Фамилия</label>
                                <input type="text" maxlength="150" class="form-control " id="last_name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="username-reg">Логин</label>
                            <input type="text" maxlength="150" class="form-control " id="username-reg">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Адрес электронной почты</label>
                            <input type="text" maxlength="150" class="form-control " id="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password1">Пароль</label>
                                <input type="password" maxlength="150" class="form-control " id="password1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password2">Подтверждение пароля</label>
                                <input type="password" maxlength="150" class="form-control " id="password2">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <input id="registration" class="btn btn-a btn-block"
                               type="submit" value="Создать аккаунт">
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a class="text-decoration-underline" href="#" type="button"
                       data-bs-target="#login-modal" data-bs-toggle="modal">
                        Уже есть аккаунт? Войти
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="py-4 mt-3 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GeekShop 2023</p>
    </div>
</footer>
{% endblock %}

<div id="authenticated-modal" class="modal" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Необходима авторизация</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Для добавления товара в корзину необходимо авторизоваться</p>
            </div>
        </div>
    </div>
</div>

<div id="no-product-modal" class="modal" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Невозможно добавить товар в корзину</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Товар отсутствует на складе</p>
            </div>
        </div>
    </div>
</div>

{% block javascript %}
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static  'js/basket.js' %}"></script>
<script src="{% static  'js/auth.js' %}"></script>

<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/orders_scripts.js' %}"></script>

<!-- FontAwesome script -->
<script src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
