<!DOCTYPE html>
{% load static %}
{% load startswith %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <title>{{ title|title }}</title>

    {% block css %}
    {% endblock %}
</head>

<body>
{% csrf_token %}

{% block navigation %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container" id="navbar">
        {% include 'products/includes/navbar.html' %}
    </div>
</nav>

<div id="login-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="card rounded-lg">
                <div class="card-header">
                    <h3 class="text-center my-4">
                        Вход
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="text-danger error-div">
                    </div>
                    <div class="form-group">
                        <label class="mb-1" for="username">Имя пользователя</label>
                        <input type="text" maxlength="150" class="form-control " id="username">
                    </div>
                    <div class="form-group">
                        <label class="mb-1" for="password">Пароль</label>
                        <input type="password" maxlength="150" class="form-control " id="password">
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                        <a class="" href="#">Забыли пароль?</a>
                        <input id="login" class="btn btn-primary" type="submit" value="Войти">
                    </div>
                </div>
                <div class="card-footer text-center">
                    <div class=""><a href="{% url 'authapp:register' %}">Нужен аккаунт? Зарегистрируйся!</a>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
                        Войти через <i class="fab fa-vk"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="py-4 mt-3 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GeekShop 2023</p>
    </div>
</footer>
{% endblock %}

<div id="authenticated-modal" class="modal" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Необходима авторизация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Для добавления товара в корзину необходимо авторизоваться</p>
            </div>
        </div>
    </div>
</div>

<div id="no-product-modal" class="modal" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Невозможно добавить товар в корзину</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Товар отсутствует на складе</p>
            </div>
        </div>
    </div>
</div>

{% block javascript %}
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static  'js/basket.js' %}"></script>
<script src="{% static  'js/auth.js' %}"></script>

<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/orders_scripts.js' %}"></script>

<!-- FontAwesome script -->
<script src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
