{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container flex-grow-1">
    <div class="row">
        <div class="col-12">
            <h1 class="my-4">Уверены, что хотите удалить заказ?</h1>
            <div class="card">
                <div class="card-header">Заказ №{{ object.pk }} от {{ object.created|date:"Y-m-d H:i" }},
                    статус: {{ object.get_status_display }}
                </div>
                <div class="card-footer">
                    {{ object.get_total_quantity }} товара на сумму {{ object.get_total_cost }} руб.
                </div>
            </div>
            <form class="" action="{% url 'orders:delete' object.pk %}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger btn-round form-control my-2 last" type="submit" value="удалить">
                <a href="{% url 'orders:list' %}" class="btn btn-success btn-round form-control my-2 last">отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}