{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">
                Ваши заказы,
                {% if user.first_name %}
                {{ user.first_name|title }}
                {% else %}
                Пользователь
                {% endif %}
            </h2>
            <table class="table orders_list">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Создан</th>
                    <th>Обновлен</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for item in object_list %}
                {% if item.is_active %}
                <tr>
                    <td class="td1 orders_list">{{ item.pk }}</td>
                    <td>{{ item.created|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ item.updated|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ item.get_status_display }}</td>
                    <td>
                        <a href="{% url 'orders:read' item.pk %}">
                            посмотреть
                        </a>
                    </td>
                    <td>
                        {% if item.status == 'FM' %}
                        <a href="{% url 'orders:delete' item.pk %}">
                            удалить
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'products:index' %}" class="btn btn-info btn-round form-control  my-2 last">
                продолжить покупки
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GeekShop 2020</p>
    </div>
    <!-- /.container -->
</footer>
{% endblock %}