{% extends "products/base.html" %}
{% load static %}

{% block css %}
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container flex-grow-1">
    <div class="row">
        <div class="col-12">
            <h1 class="my-4">Заказ №{{ object.pk }} от {{ object.created|date:"Y-m-d H:i" }},
                статус: {{ object.get_status_display }}</h1>
            <div class="card">
                <div class="card-header">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Категория</th>
                            <th>Продукт</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Итого</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in object.orderitems.select_related %}
                        <tr>
                            <td>
                                <img style="height: 150px" src="{{ item.product.image.url }}"
                                     alt="{{ item.product.short_desc }}">
                            </td>
                            <td>{{ item.product.category.name }}</td>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price }}</td>
                            <td>{{ item.get_product_cost }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    {{ object.get_total_quantity }} товара на сумму {{ object.get_total_cost }} руб.
                </div>
            </div>
            {% include 'ordersapp/includes/inc_order_actions.html' %}
        </div>
    </div>
</div>
{% endblock %}