{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container flex-grow-1">
    <div class="row">
        <div class="col-12">
            <h3 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">
                Ваши заказы,
                {% if user.first_name %}
                {{ user.first_name|title }}
                {% else %}
                Пользователь
                {% endif %}
            </h3>
            <div class="card">
                <div class="card-header">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Создан</th>
                            <th>Обновлен</th>
                            <th>Статус</th>
                            <th>Посмотреть</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in object_list %}
                        {% if item.is_active %}
                        <tr>
                            <td class="td1 orders_list">{{ item.pk }}</td>
                            <td>{{ item.created|date:"Y-m-d H:i:s" }}</td>
                            <td>{{ item.updated|date:"Y-m-d H:i:s" }}</td>
                            <td>{{ item.get_status_display }}</td>
                            <td>
                                <a href="{% url 'orders:read' item.pk %}">
                                    посмотреть
                                </a>
                            </td>
                            <td class="text-center">
                                {% if item.status == 'FM' %}
                                <a href="{% url 'orders:delete' item.pk %}">
                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <a href="{% url 'products:index' %}" class="btn btn-info btn-round form-control  my-2 last">
                продолжить покупки
            </a>
        </div>
    </div>
</div>
{% endblock %}